<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show me interesting stuff</title>

    <!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <div>
        <h1>Show me interesting stuff</h1>
        <p class="lead">This project was an experiment looking at how we could provide machine generated onward links (promos) from published content.  It uses the <a href="https://github.com/rjlee/kandlcontentpipeline">kandlcontentpipeline</a> to generate recommendations between a corpus of about 1000 content items.</p>

        <p>The recommendations can be viewed in context as part of a <a href="http://kandlrecommendations.herokuapp.com/guides/zw6gq6f">guide</a> or an <a href="http://kandlrecommendations.herokuapp.com/similar?url=http://www.bbc.co.uk/guides/zxcbb9q">api</a> is available.</p>

        <h2>List of guides to try</h2>
        <ul>
        <% @documents.each do |doc| %>
          <li><a href="<%= doc.url.gsub(/http:\/\/www.bbc.co.uk/, '') %>"><%= doc.title %></a>
        <% end %>
        </ul>
      </div>

    </div><!-- /.container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">All content remains copyright of the original publisher.</p>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </body>
</html>
